<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>Edit Contact</h2>
  <mat-dialog-content fxLayout="column">
    <mat-form-field fxFlex="auto">
      <input matInput placeholder="First Name" formControlName="firstName">
    </mat-form-field>

    <mat-form-field fxFlex="auto">
      <input matInput placeholder="Last Name" formControlName="lastName">
    </mat-form-field>

    <mat-form-field fxFlex="auto">
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button mat-dialog-close type="submit" [disabled]="!contactForm.valid">Save</button>
  </mat-dialog-actions>
</form>
